<?xml version="1.0"?>
<model>
  <name>Moving standing person</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Parker Lusk</name>
    <email>parkerclusk@gmail.com</email>
  </author>

  <description>
    A generic 'standing person' model with an associated plugin to allow rigid-body movement.
  </description>
</model>