<?xml version="1.0"?>
<launch>
  <arg name="name" default="parker"/>
  <arg name="model" default="$(find moving_targets)/models/moving_person_walking/model.sdf"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>
  <arg name="robot_namespace" default=""/>
  <arg name="gazebo_namespace" default=""/>

  <!-- Automatically detect if SDF (-gazebo) or URDF (-urdf) using the last 4 chars of model name -->
  <arg name="model_type" value="$(eval 'gazebo' if '.sdf' in arg('model')[-4:] else 'urdf')" />

  <!-- send the robot model to param server -->
  <param name="$(arg name)_model_desc" textfile="$(arg model)" />

  <!-- push model_desc_movers to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg name)" pkg="gazebo_ros" type="spawn_model"
    args="-param $(arg name)_model_desc
          -$(arg model_type)
          -x $(arg x)
          -y $(arg y)
          -z $(arg z)
          -Y $(arg yaw)
          -gazebo_namespace $(arg gazebo_namespace)/gazebo
          -robot_namespace $(arg robot_namespace)
          -model $(arg name)"
    respawn="false" output="screen">
  </node>
</launch>